<%- include('../partials/header') %>



<div class="container">

         <header class="jumbotron">
	         <div class="container">
	               <h1>
	               Welcome To Yelpcamp!!
                   </h1>
	               <p> We have chose the best places for you around world</p>
	               <p>
                      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add A New Campground</a>		
	               </p>
	         </div>
         </header>
              <div class="row text-center" style="display:flex ; flex-wrap: wrap;"> <!-- to make sure all images to be of same size -->
	               <% camps.forEach(function(camp){ %>
	                   <div class="col-md-3 col-sm-6">
		                     <div class="thumbnail">
	                         <img src="<%= camp.image %>" >
		                          <div class="caption">
		                             <h4> <%= camp.name %></h4>	
		                          </div>
								 <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary"> More Info</a>
		                     </div>
				  </div>	
	               <% }); %>
	          </div>
</div>
<%- include('../partials/footer') %>